@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fauna+One|Headland+One|IM+Fell+Great+Primer+SC|Prata|Vidaloka&display=swap');

@font-face {
  font-family: "Copyleft";
  src: url("/fonts/cc-icons.woff") format("woff");
}

$bg-section: #eaeaea;
$bg-red-600: #e53e3e;
$bg-red-000: #d33a2c;
$bg-white: #fafafa;

body {
  background-color: $bg-section;
  font-family: 'Noto Serif JP', serif;

  .published-when {
    @apply text-right text-sm font-mono uppercase;

    span {
      @apply bg-yellow-200 border border-yellow-300 rounded p-2 shadow;
    }
  }

  .main-header {
    @apply flex flex-col;

    background-color: $bg-white;

    @screen md {
      @apply flex-row border-b-2 border-black border-dashed;
    }

    .hero-bg {
      @apply h-screen w-screen bg-cover bg-no-repeat -mt-16;

      background-image: url("/bolten-hero.svg");
      background-position: -90px, 0;

      @screen md {
        @apply h-screen w-1/2 bg-left mt-0;
      }
    }

    article {
      @apply shadow-md rounded p-5 pt-1 border border-gray-500 cursor-pointer;

      background-color: lighten($bg-section, 5%);
      height: fit-content;

      @screen md {
        @apply mt-20 w-1/2 mr-10 ml-5;
      }

      h1 {
        @apply text-5xl mb-10 text-left leading-tight ;

        font-family: 'IM Fell Great Primer SC', serif;

        @screen md {
          @apply text-6xl;
        }

        span {
          background-image: linear-gradient($bg-red-600, $bg-red-600);
          background-size: 100% 0.3em;
          background-repeat: no-repeat;
          background-position: 0px 88%; 
        }
      }

      p {
        @apply text-left text-xl;

        @screen md {
          @apply text-2xl;
        }
      }
    }
  }

  .navigation {
    @apply sticky top-0 shadow-lg z-10 h-20 text-xl bg-black p-5;

    font-family: 'Fira Code', monospace;

    @screen md {
      @apply py-5 px-10;
    }

    .logotype {
      @apply tracking-tighter border-4 border-white text-white font-black cursor-pointer;

      span {
        @apply px-1;

        &:first-child {
          @apply bg-white text-black;
        }

        &:last-child {
          @apply pr-2;
        }
      }
    }
  }

  .posts-container {
    @apply bg-contain bg-no-repeat;

    background-color: $bg-white;
    background-image: url("/flag.svg");
    background-position: 95% 35%;

    @screen md {
      @apply bg-auto;

      background-position: 95% 50%;
    }

    .post-card-container {
      @apply flex flex-row overflow-hidden px-2 pt-10;

      @screen md {
        @apply pt-24;

        flex-wrap: wrap;
      }

      h2 {
        @apply text-3xl text-left leading-tight mb-2;

        font-family: "Prata", serif;

        @screen md {
          @apply text-5xl;
        }
      }

      .post-card {
        @apply mb-5 shadow-md cursor-pointer;
        @apply px-10 pb-10 pt-1 text-black rounded border border-gray-500;

        background-color: lighten($bg-section, 5%);
        flex: 0 0 100vw;

        &[data-direction="left"] {
          @apply hidden;
        }

        &[data-current="true"] {
          @apply block;
        }

        &[data-direction="left"] {
          &[data-current="true"] + article {
            @apply block;
          }
        }

        @screen md {
          @apply w-1/2 px-5 pb-5 pt-1 mx-2;

          flex: 0 0 32%;
        }

        .published-when {
          @apply text-black mb-5;
        }
      }

      .post-container-clear {
        flex: 0 0 100%;
      }
    }

    .post-short-container {
      @apply flex-col ml-2 mt-48;

      flex: 0 0 100%;

      @screen md {
        @apply mt-16;
      }

      .post-short {
        @apply py-2 px-5 mb-5;

        border-bottom: 1px solid darken($bg-section, 30%);
        background-color: $bg-white;

        @screen md {
          @apply w-1/2;
        }

        h2 {
          @apply text-xl;
        }
      }
    }
  }

  .post-container {
    @apply p-10;

    background-color: $bg-white;

    header {
      @apply relative mb-5 text-sm font-mono text-gray-600;

      .cc {
        @apply mr-1 text-base;

        font-family: 'Copyleft', sans;
      }

      aside {
        @apply absolute origin-top-left transform -rotate-90;
        @apply text-sm font-mono text-gray-600;

        top: 17rem;
        left: -4px;

        @screen md {
          top: 14rem;
        }
      }
    }

    article {
      @screen md {
        column-count: 2;
        column-gap: 2rem;
      }

      hgroup {
        @apply pl-10 mb-16;

        h2 {
          @apply text-3xl text-left leading-tight mb-2;

          font-family: "Prata", serif;

          @screen md {
            @apply text-5xl;
          }
        }

        h3 {
          @apply italic text-gray-800 text-xl text-justify;
        }
      }

      p {
        @apply text-justify;

        hyphens: manual;
        text-indent: 2rem;
      }
    }
  }

  .about-container {
    @apply px-5;
  }
}
