@tailwind base;

@tailwind components;

@tailwind utilities;

@tailwind screens;

@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP&display=swap');

@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

@font-face {
  font-family: "Copyleft";
  src: url("/fonts/cc-icons.woff") format("woff");
}

$bg-section: #eaeaea;

body {
  background-color: $bg-section;
  font-family: 'Noto Serif JP', serif;

  .main-header {
    @apply flex flex-row-reverse mx-auto .h-screen bg-no-repeat bg-left pt-5;

    background-image: url("/bolten-hero.jpeg");

    article {
      @apply w-3/4 mt-5 shadow-md rounded p-5 pt-1;

      background-color: lighten($bg-section, 5%);
      height: fit-content;

      @screen md {
        @apply mt-20 w-1/2;
      }

      h1 {
        @apply text-4xl mb-10 text-left leading-tight font-black;

        @screen md {
          @apply text-6xl;
        }
      }

      p {
        @apply text-left text-xl;

        @screen md {
          @apply text-2xl;
        }
      }

      .published-when {
        @apply text-right text-sm font-mono uppercase;

        span {
          @apply bg-yellow-200 rounded p-2;
        }
      }
    }
  }

  .navigation-container {
    @apply sticky top-0 shadow-lg z-10;

    .navigation {
      @apply text-sm bg-black px-6;

      font-family: 'Fira Code', monospace;

      @screen md {
        @apply text-lg;
      }

      ul {
        @apply flex flex-row content-center;

        li {
          button {
            @apply p-2 text-gray-300 font-bold ml-4;

            &:hover {
              @apply bg-red-600 rounded shadow-md;
            }
          }
        }
      }
    }
  }

  section {
    @apply py-5 px-8 text-justify shadow-md border-b-2 border-black border-dashed;

    @screen md {
      @apply px-20;
    }

    background-color: $bg-section;

    h2 {
      @apply text-3xl font-black text-left mb-2;

      @screen md {
        @apply text-5xl;
      }
    }
  }

  .posts-container {
    article {
      @apply mb-5;
    }
  }

  .articles-container {
    article {
      @screen md {
        column-count: 2;
        column-gap: 2rem;
      }

      h2 {
        @apply leading-tight;
      }

      p {
        hyphens: auto;
      }

      .info {
        @apply flex bg-gray-900 text-white border-double border-8 border-white mb-10 p-5;

        .cc {
          @apply text-lg tracking-widest align-middle;
          font-family: 'Copyleft', serif;
        }

        li {
          @apply mb-3 leading-tight;
        }
      }
    }
  }

  .archive-container {
    ul {
      li {
        @apply mt-2;
        h3 {
          span {
            @apply font-mono text-xs bg-gray-300 px-1 rounded border border-gray-400;
          }
        }
      }
    }
  }

  .about-container {
    @apply bg-gray-900 text-gray-200 whitespace-pre-wrap;
  }
}
